$defaultFontFamily: system-ui, -apple-system, BlinkMacSystemFont,
    segoe ui, Roboto, Helvetica, Arial, sans-serif,
    apple color emoji, segoe ui emoji, segoe ui symbol;

$bg-color: #f0f0f0;
$primary-color: #60bef1;
$title-color: #333;
$content-color: #666;
$hint-color: #999;
$border-color: #e0e0e0;

$font-xl: 18px;
$font-lg: 16px;
$font-md: 14px;
$font-sm: 12px;

// 水平间距
$h-spacing-md: 10px;

// 数字字体
$number-font: pajknum;